{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">➕ Novo Aluno</h1>

<form method="POST">

{% csrf_token %}

<div class="mb-3">
<label>Nome</label>
<input type="text" name="nome" class="form-control">
</div>

<div class="mb-3">
<label>Telefone</label>
<input type="text" name="telefone" class="form-control">
</div>

<div class="mb-3">
<label>Email</label>
<input type="email" name="email" class="form-control">
</div>

<div class="mb-3">
<label>Instrumento</label>
<input type="text" name="instrumento" class="form-control">
</div>

<div class="mb-3">
<label>Valor da mensalidade</label>
<input type="number" step="0.01" name="valor_mensalidade" class="form-control">
</div>

<div class="mb-3">
<label>Dia do vencimento</label>
<input type="number" name="dia_vencimento" class="form-control" value="10">
</div>

<hr>

<h5 class="mt-4">🔐 Acesso do aluno</h5>

<div class="mb-3">
<label>Usuário</label>
<input type="text" name="username" class="form-control">
</div>

<div class="mb-3">
<label>Senha</label>
<input type="password" name="password" class="form-control">
</div>

<button class="btn btn-success">
Salvar aluno
</button>

</form>

{% endblock %}